<% include ./partials/header %>
<div class="ui huge header">
	Oppdater søknad
</div>
<p>
	Her kan du oppdatere eksisterende søknad med ID <%= jobb[0].soknadid%>.
	Dette gjør du ved å endre verdiene i ett eller
	flere av feltene under for deretter å klikke Send.
</p>
<form class="ui form" action="/jobb/<%= jobb[0].soknadid%>?_method=PUT" method="POST">
	<div class="field">
		<label>Tittel</label>
		<input type="text" name="tittel" value="<%= jobb[0].tittel %>">
	</div>
	<div class="field">
		<label>Bedrift</label>
		<input type="text" name="bedrift" value="<%= jobb[0].bedrift %>">
	</div>
	<div class="field">
		<label>StedID</label>
		<input type="text" name="stedid" value="<%= jobb[0].stedid %>">
	</div>
	<div class="field">
		<label>StatusID</label>
		<input type="text" name="statusid" value="<%= jobb[0].statusid %>">
	</div>
	<div class="field">
		<label>Søknadsfrist</label>
		<input type="text" name="soknadsfrist" value="<%= jobb[0].soknadsfrist %>">
	</div>
	<div class="field">
		<label>Motivasjon</label>
		<textarea name="motivasjon"><%= jobb[0].motivasjon%></textarea>
	</div>
	<input type="submit" class="ui positive big button" name="Submit" value="Oppdater">
	<a href="/jobb/<%=jobb[0].soknadid%>" class="ui negative big button">Avbryt</a>
</form>
<% include ./partials/footer %>