@model Vidly.Models.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ny kunde</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Vennligst rett følgende feil:")
    <div class="form-group">
        @Html.LabelFor(m => m.customer.name)
        @Html.TextBoxFor(m => m.customer.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customer.membershipTypeId)
        @Html.DropDownListFor(m => m.customer.membershipTypeId, new SelectList(Model.membershipTypes, "id", "membershipName"), "Velg fra lista under", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.membershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customer.birthday)
        @Html.TextBoxFor(m => m.customer.birthday, "{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.birthday)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.isSubscribedToNewsletter) Abonnerer på nyhetsbrev
        </label>
    </div>
    @Html.HiddenFor(m => m.customer.id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Lagre</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}